#logonasa{
    width: 30;
    height: 30;
    border-radius: 5;
}


#imgApi{
    width: 120;
    height: 90;
    margin-top: 30;
}


#fTierra{
    text-align: justify;
    background-color: #AEB6BF;
    color: whitesmoke;
    font-size: 17;
    border-radius: 20;
}


#nombreRover{
    text-align: justify;
}


.itemsLabels{
    text-align: justify;
    font-size: 17;
}
