<!--
The template defines the view of the component - what is actually rendered.
In NativeScript applications the template is defined with XML using NativeScript UI elements.
It is different from HTML. So instead of <input>, <span>, <div> etc. - we have <TextField>, <Label> and layouts.
The important thing is that although the elements are different - all of the Angular’s template syntax works exactly the same.
So you can still use template expressions, bindings, templates as well as all the built-in directives.
-->

<!--
The ActionBar is the NativeScript common abstraction over the Android ActionBar and iOS NavigationBar.
http://docs.nativescript.org/ui/action-bar
-->

<!--
The GridLayout arranges its child elements in a table structure of rows and columns.
A cell can contain multiple child elements, they can span over multiple rows and columns,
and even overlap each other. The GridLayout has one column and one row by default.
You can learn more about NativeScript layouts at https://docs.nativescript.org/ui/layout-containers.

These components make use of the NativeScript core theme, which styles them with element selectors.
The theme also provides a set of helper class names such as p-20, h1, h2, and text-center to enhance styling.
You can learn more about the NativeScript core theme at https://github.com/nativescript/theme
-->
<ActionBar backgroundColor="#b2b2b2">

  <StackLayout orientation="horizontal">
    <Image id="logonasa" src="https://api.nasa.gov/assets/img/favicons/favicon-192.png" verticalAlignment="top"> </Image>
    <label text=" Consumiendo API de la NASA" fontSize="18" color=red verticalAlignment="center" font-family="Courier"></label>
  </StackLayout>
</ActionBar>

<GridLayout>
  <ListView [items]="items">
    <ng-template let-item="item">
      <StackLayout>
        <Label id="fTierra" [text]="'Fecha En La Tierra: '+item.earth_date"></Label>
        <Label class="itemsLabels" [text]="'ID De Camara Del Rover: '+item.camera.id"></Label>
        <Image id="imgApi" [src]="item.img_src.replace('http','https')"></Image>
        <Label class="itemsLabels" [text]="'Nombre De Camara Del Rover: '+item.camera.full_name"></Label>
        <Label class="itemsLabels" [text]="'ID De Rover: '+item.camera.rover_id"></Label>
        <Label class="itemsLabels" [text]="'Nombre Del Rover: '+item.rover.name"></Label>
        <Label class="itemsLabels" [text]="'Estatus Del Rover: '+item.rover.status"></Label>
        <Label class="itemsLabels" [text]="'Fecha Aterrizaje Del Rover: '+item.rover.landing_date"></Label>
        <Label class="itemsLabels" [text]="'Fecha Lanzamiento Del Rover: '+item.rover.launch_date"></Label>
      </StackLayout>
    </ng-template>
  </ListView>
</GridLayout>
